.seccion-contacto{
    background-image: url("../../images/niñ@sdb.jpg");
    background-position: 50% 50%;
    background-size:cover;
    height: 1419px;
    width: 1531px;
}


.seccion-contacto-wrapper{
}

.seccion-contacto-text h1{
    color: #f17408;
    font-family: "Lexend-Bold", Helvetica;
    font-size: 72px;
    font-weight: 900;
    left: 0;
    letter-spacing: 0;
    line-height: 50px;
    text-align: center;
    top: 0;
    white-space: nowrap;
}

.seccion-contact-text2 p{
    color: #ffffff;
    font-family: "Lexend Bold",Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: 50px;
    text-align: center;
    top: 0;

}

.contactData label{
    color: #ffffff;
    font-family: "Manrope-ExtraBold", Helvetica;
    font-size: 16px;
    font-weight: 800;
    left: 0;
    letter-spacing: 0;
    line-height: 20px;
    top: 0;
    white-space: nowrap;
}


