body {
    font-family: 'Lexend', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.seccion-contacto-wrapper {
    background-image: url("../../images/niñ@sdb.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

}

.contactForm {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
}

.contactForm label{
    margin-top: 10px;
}

textarea{
    resize: vertical;
}