.home-desktop {
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .home-desktop .div {
    background-color: #000000;
    height: 3250px;
    position: relative;
    width: 1024px;
  }
  
  .home-desktop .container {
    background-color: #f17408;
    border-radius: 37px;
    box-shadow: 0px 0px 1px #171a1f12, 0px 0px 2px #171a1f1f;
    height: 73px;
    left: 1004px;
    position: absolute;
    top: 20px;
    width: 227px;
  }
  
  .home-desktop .apoyanos {
    color: #ffffff;
    font-family: "Lexend", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 51px;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    text-align: center;
    top: 14px;
    white-space: nowrap;
  }
  
  .home-desktop .overlap {
    height: 3134px;
    left: 0;
    position: absolute;
    top: 116px;
    width: 1440px;
  }
  
  .home-desktop .image {
    height: 797px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .home-desktop .type-closely-match {
    background-color: #ffffff;
    box-shadow: 0px 3px 6px #120f281f;
    height: 670px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 789px;
    width: 1440px;
  }
  
  .home-desktop .leermas-wrapper {
    background-color: #f17408;
    border-radius: 46px;
    box-shadow: 0px 0px 1px #171a1f12, 0px 0px 2px #171a1f1f;
    height: 92px;
    left: 950px;
    position: absolute;
    top: 479px;
    width: 247px;
  }
  
  .home-desktop .leermas {
    color: #ffffff;
    font-family: "Lexend", Helvetica;
    font-size: 36px;
    font-weight: 700;
    left: 40px;
    letter-spacing: 0;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: 28px;
    white-space: nowrap;
  }
  
  .home-desktop .div-wrapper {
    background-color: #f17408;
    border-radius: 45px;
    box-shadow: 0px 0px 1px #171a1f12, 0px 0px 2px #171a1f1f;
    height: 90px;
    left: 249px;
    position: absolute;
    top: 1045px;
    width: 247px;
  }
  
  .home-desktop .text-wrapper {
    color: #ffffff;
    font-family: "Lexend", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 77px;
    letter-spacing: 0;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: 25px;
    white-space: nowrap;
  }
  
  .home-desktop .overlap-group {
    height: 535px;
    left: 67px;
    position: absolute;
    top: 65px;
    width: 624px;
  }
  
  .home-desktop .img {
    height: 530px;
    left: 0;
    position: absolute;
    top: 5px;
    width: 620px;
  }
  
  .home-desktop .img-2 {
    height: 518px;
    left: 25px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 599px;
  }
  
  .home-desktop .image-2 {
    height: 530px;
    left: 3109px;
    position: absolute;
    top: 445px;
    width: 618px;
  }
  
  .home-desktop .overlap-2 {
    height: 112px;
    left: 74px;
    position: absolute;
    top: 902px;
    width: 494px;
  }
  
  .home-desktop .amet-consectetuer {
    color: #565d6d;
    font-family: "Manrope", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 28px;
    position: absolute;
    top: 56px;
  }
  
  .home-desktop .p {
    color: #a57b67;
    font-family: "Lexend", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: 30px;
    position: absolute;
    top: 29px;
    white-space: nowrap;
  }
  
  .home-desktop .text-wrapper-2 {
    color: #565d6d;
    font-family: "Lexend", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 2px;
    letter-spacing: 0;
    line-height: 30px;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .home-desktop .text-wrapper-3 {
    color: #f28121;
    font-family: "Lexend", Helvetica;
    font-size: 48px;
    font-weight: 700;
    left: 864px;
    letter-spacing: 0;
    line-height: 54px;
    position: absolute;
    top: 110px;
    white-space: nowrap;
  }
  
  .home-desktop .text-wrapper-4 {
    color: #f28121;
    font-family: "Lexend", Helvetica;
    font-size: 38px;
    font-weight: 700;
    left: 157px;
    letter-spacing: 0;
    line-height: 54px;
    position: absolute;
    top: 831px;
    white-space: nowrap;
  }
  
  .home-desktop .text-wrapper-5 {
    color: #000000;
    font-family: "Lexend", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 796px;
    letter-spacing: 0;
    line-height: 30px;
    position: absolute;
    text-align: justify;
    top: 201px;
    width: 554px;
  }
  
  .home-desktop .type-closely-match-2 {
    background-color: #f17408;
    box-shadow: 0px 3px 6px #120f281f;
    height: 899px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 1440px;
    width: 1440px;
  }
  
  .home-desktop .overlap-3 {
    background-image: url(https://c.animaapp.com/xpbygPrV/img/image-174.png);
    background-size: 100% 100%;
    height: 845px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .home-desktop .overlap-4 {
    background-color: #ffffff;
    height: 405px;
    left: 64px;
    position: absolute;
    top: 220px;
    width: 376px;
  }
  
  .home-desktop .text-wrapper-6 {
    color: #f17408;
    font-family: "Inter", Helvetica;
    font-size: 40px;
    font-weight: 700;
    left: 31px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 15px;
    width: 330px;
  }
  
  .home-desktop .text-wrapper-7 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 8px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 128px;
    width: 361px;
  }
  
  .home-desktop .overlap-5 {
    height: 523px;
    left: 529px;
    position: absolute;
    top: 215px;
    width: 382px;
  }
  
  .home-desktop .rectangle {
    background-color: #ffffff;
    height: 410px;
    left: 0;
    position: absolute;
    top: 0;
    width: 382px;
  }
  
  .home-desktop .text-wrapper-8 {
    color: #f17408;
    font-family: "Inter", Helvetica;
    font-size: 40px;
    font-weight: 700;
    left: 18px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 25px;
    width: 352px;
  }
  
  .home-desktop .realizamos-una {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 18px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 136px;
    width: 349px;
  }
  
  .home-desktop .overlap-group-2 {
    height: 505px;
    left: 1002px;
    position: absolute;
    top: 221px;
    width: 362px;
  }
  
  .home-desktop .rectangle-2 {
    background-color: #ffffff;
    height: 404px;
    left: 0;
    position: absolute;
    top: 0;
    width: 360px;
  }
  
  .home-desktop .text-wrapper-9 {
    color: #f17408;
    font-family: "Inter", Helvetica;
    font-size: 40px;
    font-weight: 700;
    left: 34px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 14px;
    width: 303px;
  }
  
  .home-desktop .text-wrapper-10 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 8px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 127px;
    width: 354px;
  }
  
  .home-desktop .image-3 {
    height: 1px;
    left: 34px;
    position: absolute;
    top: 899px;
    width: 437px;
  }
  
  .home-desktop .image-4 {
    height: 1px;
    left: 505px;
    position: absolute;
    top: 899px;
    width: 437px;
  }
  
  .home-desktop .image-5 {
    height: 1px;
    left: 969px;
    position: absolute;
    top: 899px;
    width: 437px;
  }
  
  .home-desktop .rectangle-3 {
    height: 452px;
    left: 2427px;
    position: absolute;
    top: -710px;
    width: 421px;
  }
  
  .home-desktop .type-closely-match-3 {
    background-color: #000000;
    box-shadow: 0px 3px 6px #120f281f;
    height: 849px;
    left: 0;
    position: absolute;
    top: 2285px;
    width: 1440px;
  }
  
  .home-desktop .container-2 {
    background-color: #f18f3a;
    border-radius: 4px;
    box-shadow: 0px 0px 1px #171a1f12, 0px 0px 2px #171a1f1f;
    height: 516px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .home-desktop .overlap-group-3 {
    background-image: url(https://c.animaapp.com/xpbygPrV/img/image-187@2x.png);
    background-size: 100% 100%;
    height: 391px;
    left: 9px;
    position: absolute;
    top: 57px;
    width: 468px;
  }
  
  .home-desktop .rectangle-4 {
    height: 361px;
    left: 24px;
    object-fit: cover;
    position: absolute;
    top: 1px;
    width: 444px;
  }
  
  .home-desktop .rectangle-5 {
    background-color: #b45504;
    height: 57px;
    left: 24px;
    position: absolute;
    top: 282px;
    width: 254px;
  }
  
  .home-desktop .text-wrapper-11 {
    color: #ffffff;
    font-family: "Manrope", Helvetica;
    font-size: 36px;
    font-weight: 800;
    left: 49px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    top: 297px;
    width: 248px;
  }
  
  .home-desktop .overlap-6 {
    background-image: url(https://c.animaapp.com/xpbygPrV/img/image-186@2x.png);
    background-size: 100% 100%;
    height: 393px;
    left: 482px;
    position: absolute;
    top: 57px;
    width: 463px;
  }
  
  .home-desktop .rectangle-6 {
    height: 360px;
    left: 30px;
    object-fit: cover;
    position: absolute;
    top: 2px;
    width: 433px;
  }
  
  .home-desktop .rectangle-7 {
    background-color: #b45504;
    height: 57px;
    left: 28px;
    position: absolute;
    top: 286px;
    width: 238px;
  }
  
  .home-desktop .text-wrapper-12 {
    color: #ffffff;
    font-family: "Manrope", Helvetica;
    font-size: 36px;
    font-weight: 800;
    left: 67px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    top: 304px;
    width: 248px;
  }
  
  .home-desktop .overlap-7 {
    background-image: url(https://c.animaapp.com/xpbygPrV/img/image-185@2x.png);
    background-size: 100% 100%;
    height: 391px;
    left: 954px;
    position: absolute;
    top: 57px;
    width: 457px;
  }
  
  .home-desktop .rectangle-8 {
    height: 362px;
    left: 25px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 432px;
  }
  
  .home-desktop .ap-yanos {
    color: #ffffff;
    font-family: "Manrope", Helvetica;
    font-size: 36px;
    font-weight: 800;
    left: 63px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    top: 298px;
    width: 201px;
  }
  
  .home-desktop .copyright {
    color: #9095a1;
    font-family: "Lexend", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 295px;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    top: 762px;
    white-space: nowrap;
  }
  
  .home-desktop .image-6 {
    height: 125px;
    left: 273px;
    position: absolute;
    top: 556px;
    width: 225px;
  }
  
  .home-desktop .image-7 {
    height: 132px;
    left: 104px;
    position: absolute;
    top: 559px;
    width: 132px;
  }
  
  .home-desktop .peces-soctales {
    color: #ffffff;
    font-family: "Manrope", Helvetica;
    font-size: 24px;
    font-weight: 800;
    left: 895px;
    letter-spacing: 0;
    line-height: 28px;
    position: absolute;
    top: 587px;
    white-space: nowrap;
  }
  
  .home-desktop .jeetono {
    color: #ffffff;
    font-family: "Manrope", Helvetica;
    font-size: 24px;
    font-weight: 800;
    left: 678px;
    letter-spacing: 0;
    line-height: 28px;
    position: absolute;
    top: 582px;
    white-space: nowrap;
  }
  
  .home-desktop .correo {
    color: #ffffff;
    font-family: "Manrope", Helvetica;
    font-size: 24px;
    font-weight: 800;
    left: 1206px;
    letter-spacing: 0;
    line-height: 28px;
    position: absolute;
    top: 587px;
    white-space: nowrap;
  }
  
  .home-desktop .image-8 {
    height: 70px;
    left: 82px;
    position: absolute;
    top: 23px;
    width: 132px;
  }
  
  .home-desktop .image-9 {
    height: 70px;
    left: 1306px;
    position: absolute;
    top: 20px;
    width: 70px;
  }
  
  .home-desktop .text-wrapper-13 {
    color: #bdc1ca;
    font-family: "Lexend", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 506px;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    top: 38px;
    white-space: nowrap;
  }
  
  .home-desktop .text-wrapper-14 {
    color: #bdc1ca;
    font-family: "Lexend", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 708px;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    top: 36px;
    white-space: nowrap;
  }
  
  .home-desktop .historia {
    color: #bdc1ca;
    font-family: "Lexend", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 856px;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    top: 39px;
    white-space: nowrap;
  }
  
  .home-desktop .text-wrapper-15 {
    color: #b45504;
    font-family: "Lexend", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 383px;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    top: 36px;
    white-space: nowrap;
  }
  