.seccin-historia {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.seccin-historia .div {
  background-color: #000000;
  height: 2430px;
  overflow: hidden;
  position: relative;
  width: 1492px;
}

.seccin-historia .overlap-group {
  height: 1576px;
  left: -13px;
  position: absolute;
  top: 10px;
  width: 1421px;
}

.seccin-historia .rectangle {
  background-color: #ffffff;
  height: 1193px;
  left: 0;
  position: absolute;
  top: 783px;
  width: 1521px;
}

.seccin-historia .img {
  background-blend-mode: darken;
  height: 722px;
  left: 466px;
  object-fit: cover;
  position: absolute;
  top: 1069px;
  width: 686px;
}

.seccin-historia .noticias {
  color: #f17408;
  font-family: "Lexend", Helvetica;
  font-size: 72px;
  font-weight: 800;
  left: 592px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 957px;
  white-space: nowrap;
}

.seccin-historia .rectangle-2 {
  background-color: #171a1fa1;
  height: 86px;
  left: 381px;
  position: absolute;
  top: 67px;
  width: 714px;
}

.seccin-historia .img-2 {
  height: 901px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 1492px;
}

.seccin-historia .container-main-title {
  background-color: #171a1fad;
  height: 897px;
  left: 13px;
  position: absolute;
  top: 0;
  width: 1492px;
}

.seccin-historia .main-title {
  color: #f17408;
  font-family: "Lexend", Helvetica;
  font-size: 72px;
  font-weight: 800;
  left: 428px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 84px;
  white-space: nowrap;
}

.seccin-historia .container-text {
  height: 633px;
  left: 239px;
  position: absolute;
  top: 180px;
  width: 1012px;
}

.seccin-historia .text-wrapper-1 {
  color: #000000;
  font-family: "Lexend", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 325px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 576px;
  width: 858px;
}

.seccin-historia .text-wrapper-2 {
  color: #000000;
  font-family: "Lexend", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 313px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 397px;
  width: 858px;
}

.seccin-historia .text-wrapper-3 {
  color: #000000;
  font-family: "Lexend", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 306px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 228px;
  width: 868px;
}


//VISUALIZACION DE LAS LINEAS PARA CLIC DEL SLIDER
.seccin-historia .line {
  height: 58px;
left: 268px;
position: absolute;
top: 1337px;
width: 60px;
}

.seccin-historia .line-2 {
height: 45px;
left: 264px;
position: absolute;
top: 1298px;
width: 61px;
}

.seccin-historia .line-3 {
height: 52px;
left: 1197px;
position: absolute;
top: 1332px;
width: 62px;
}

.seccin-historia .line-4 {
height: 44px;
left: 1202px;
position: absolute;
top: 1296px;
width: 61px;
}

//OTROS VISUALIZACIONES
.seccin-historia .rectangle-5 {
  height: 67px;
  left: 624px;
  position: absolute;
  top: 1846px;
  width: 409px;
}

.seccin-historia .slice {
  height: 100px;
  left: 773px;
  position: absolute;
  top: 1824px;
  width: 100px;
}

.seccin-historia .Btn-portfolio {
  color: #ffffff;
  font-family: "Lexend", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 663px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 1866px;
  width: 331px;
}

