.footer-container{
    background-color: black;
    .logos-contact{
      display: flex;
      justify-content:space-around;
      padding: 20px;
    }
    .logos{
      display: flex;
      img{
        width: 150px;
        height: auto;
      }
    }
    .contact{
      color: white;
      display: flex;
      padding-left: 100px;
      justify-content:space-around;
      gap: 50px;
      text-align: center;
    
    }
    .media{
      img{
        width: 40px;
      }
    }
    .derechos{
      color: white;
      text-align: center;
      padding: 20px;
    }
 }